.portfolio {
  box-sizing: border-box;
  padding-right: 70px;
  padding-bottom: 105px;
  padding-left: 70px;

  background-color: rgba(32, 32, 32, 1);
}

@media (max-width: 768px) {
  .portfolio {
    padding-right: 50px;
    padding-bottom: 70px;
    padding-left: 50px;
  }
}

@media (max-width: 500px) {
  .portfolio {
    padding-right: 14px;
    padding-bottom: 50px;
    padding-left: 14px;
  }
}

.portfolio__title {
  margin: 0;
  margin-bottom: 30px;

  font-weight: normal;
  font-size: 18px;
  line-height: 1.11;
  color: rgba(139, 139, 139, 1);
}

@media (max-width: 500px) {
  .portfolio__title {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.43;
  }
}

.portfolio__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.portfolio__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;

  border-bottom: 1px solid rgba(66, 66, 66, 1);
}

@media (max-width: 500px) {
  .portfolio__item {
    height: 67px;
  }
}

.portfolio__item:last-child {
  border-bottom: none;
}

.portfolio__link {
  width: 100%;

  font-size: 30px;
  line-height: 1.67;
  color: white;
  text-decoration: none;
  letter-spacing: -0.04em;

  opacity: 1;

  -webkit-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
}

.portfolio__link:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .portfolio__link {
    font-size: 28px;
    line-height: 1.79;
  }
}

@media (max-width: 500px) {
  .portfolio__link {
    font-size: 18px;
    line-height: 1.56;
  }
}

.portfolio__icon {
  width: 29px;
  height: 60px;

  background-image: url("../../images/array-icon.svg");
  background-repeat: no-repeat;
  background-position: 5px 25px;
  background-size: 17px;
}

@media (max-width: 500px) {
  .portfolio__icon {
    background-position: 13px 23px;
    background-size: 11px;
  }
}

.portfolio__video{
  width: 500px;
}
