.footer {
  box-sizing: border-box;
  padding: 79px 70px 20px;

  background-color: rgba(32, 32, 32, 1);
}

@media (max-width: 768px) {
  .footer {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 320px) {
  .footer {
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}

.footer__title {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;

  font-size: 13px;
  line-height: 1.23;
  text-align: center;
  color: rgba(139, 139, 139, 1);

  border-bottom: 1px solid rgba(66, 66, 66, 1);
}

@media (max-width: 500px) {
  .footer__title {
    margin-bottom: 30px;
    padding-bottom: 21px;

    font-size: 12px;
  }
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 20px;
}

@media (max-width: 500px) {
  .footer__list {
    flex-direction: column;

    gap: 8px;
  }
}

.footer__item:first-child {
  flex-grow: 1;
}

@media (max-width: 500px) {
  .footer__item:first-child {
    order: 1;
    padding-top: 22px;

    color: rgba(139, 139, 139, 1);
  }
}

.footer__author {
  margin: 0;

  font-size: 13px;
  line-height: 1.23;
}

@media (max-width: 320px) {
  .footer__author {
    font-size: 12px;
    line-height: 15px;
  }
}

.footer__link {
  font-size: 13px;
  line-height: 1.23;
  color: white;
  text-decoration: none;

  opacity: 1;

  -webkit-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
}

.footer__link:hover {
  opacity: 0.7;
}

@media (max-width: 320px) {
  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }
}
